﻿/***********GLOBAL***********/

body {
    font-size: 62.5%;
}

h2 {
    color: #00D7FF;
}

.section-inverse {
    background-color: #00D7FF;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .desktop {
        display: table;
    }

    .mobile {
        display: none;
    }

    .navbar-footer {
        display: block;
    }
}

/***********HEADER***********/

header {
    background-color: #00D7FF;
    padding-top: 15px;
}

.navbar-inverse {
    background-color: #00D7FF;
    border: 0;
    float: right;
    font-size: 1.75rem;
}

.menu-button > img {
    max-width: 4.0rem;
}

.menu-button {
    padding: 0;
}

.navbar-brand {
    background: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 40px;

    font-family: acumin-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    font-size: 3.5rem;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

/***********FOOTER***********/

footer {
    margin-top: 10px;
    background-color: #00D7FF;
    padding-top: 15px;
}

    footer p {
        display: inline-block;
        color: white;
        font-size: 1.5rem;
    }

.navbar-footer {
    display: none;
}

@media (min-width: 768px) {
    footer p {
        padding-top: 15px;
    }

    .navbar-footer {
        display: block;
    }
}

/***********HOME PAGE***********/

.cta {
    padding-top: 40px;
}

.cta .img-responsive {
    margin: 0 auto;
}

.features .container .row {
    padding-top: 20px;
}

.feature-image {
    margin: auto;
    align-content: center;
    height: 160px;
    max-width: 170px;
}

.features h5 {
    color: white;
    font-size: 2.0rem;
}

.features p {
    color: white;
    font-size: 1.5rem;
}

/***********PRICING***********/

.pricing {
    font-size: 1.5rem;
}

.pricing {
    margin-bottom: 100px;
}

.pricing .table thead tr td {
    background-color: #00D7FF;
    color: white;
    font-size: 2.0rem;
}

.pricing .table tbody tr td {
    color: #95989A;
    font-size: 1.5rem;
    border: 1px solid #95989A;
}

.pricing .table tfoot tr td {
    background-color: #00D7FF;
    color: white;
    font-size: 2.0rem;
}


.pricing > .mobile {
    align-content: center;
    margin: auto;
    max-width: 261px;
}

.pricing > .mobile > .carousel-inner > div > table {
    margin-bottom: 0;
}

.pricing > .mobile > .carousel-inner > div > table > thead > tr > td {
    border-top: 1px solid #95989A;
    border-left: 1px solid #95989A;
    border-right: 1px solid #95989A;
}

.pricing > .mobile > .carousel-inner > div > table > tfoot > tr > td {
    border-bottom: 1px solid #95989A;
    border-left: 1px solid #95989A;
    border-right: 1px solid #95989A;
}

.pricing > .mobile > .carousel-inner > div {
    align-content: center;
    margin: auto;
    max-width: 261px;
}

.pricing > .mobile > .carousel-inner > div > table > thead > tr > td,
.pricing > .mobile > .carousel-inner > div > table > tfoot > tr > td {
    padding: 15px;
}

    .pricing > .mobile > .carousel-inner > div[data-index='2'] > table > thead > tr > td,
    .pricing > .mobile > .carousel-inner > div[data-index='2'] > table > tfoot > tr > td {
        background-color: #FFFB91;
        color: #000;
    }

.carousel-control.right {
    background: none;
    right: -40px;
    color: #00D7FF;
}

.carousel-control.left {
    background: none;
    left: -40px;
    color: #00D7FF;
}

.table > thead > tr > td, .table > tfoot > tr > td {
    padding: 0;
}

.pricing > .table > thead > tr > td > div:nth-child(1), .pricing > .table > tfoot > tr > td > div:nth-child(2) {
    background-color: white;
}

.pricing > .table > thead > tr > td:first-child > div:nth-child(2) {
    background-color: #00D7FF;
    border-left: 1px solid #95989A;
    border-right: 0px solid #95989A;
    border-top: 1px solid #95989A;
}

.pricing > .table > thead > tr > td:nth-child(2) > div:nth-child(2) {
    background-color: #00D7FF;
    border-left: 1px solid #95989A;
    border-right: 0px solid #95989A;
    border-top: 1px solid #95989A;
}

.pricing > .table > thead > tr > td:nth-child(3) {
    background-color: #FFFB91;
    color: #000000;
    border-left: 1px solid #95989A;
    border-right: 1px solid #95989A;
    border-top: 1px solid #95989A;
    vertical-align: middle;
}

.pricing > .table > thead > tr > td:nth-child(4) > div:nth-child(2) {
    background-color: #00D7FF;
    border-left: 0px solid #95989A;
    border-right: 1px solid #95989A;
    border-top: 1px solid #95989A;
}

.pricing > .table > tbody > tr > td:nth-child(4) {
    padding: 0;
    border-right: 0;
}

.pricing > .table > tbody > tr > td:nth-child(4) > div {
    border-right: 1px solid #95989A;
    padding: 15px;
}

.pricing > .table > tfoot > tr > td:first-child > div:nth-child(1) {
    background-color: #00D7FF;
    border-left: 1px solid #95989A;
    border-right: 0px solid #95989A;
    border-top: 0px solid #95989A;
    border-bottom: 1px solid #95989A;
}

.pricing > .table > tfoot > tr > td:nth-child(2) > div:nth-child(1) {
    background-color: #00D7FF;
    border-left: 1px solid #95989A;
    border-right: 0px solid #95989A;
    border-top: 0px solid #95989A;
    border-bottom: 1px solid #95989A;
}

.pricing > .table > tfoot > tr > td:nth-child(3) {
    background-color: #FFFB91;
    color: #000000;
    border-left: 1px solid #95989A;
    border-right: 1px solid #95989A;
    border-top: 1px solid #95989A;
    border-bottom: 1px solid #95989A;
    vertical-align: middle;
    position: absolute;
    padding-top: 0px;
    height: 90px;
}

.pricing > .table > tfoot > tr > td:nth-child(3) > div {
    position: absolute;
    top: 60px;
}

.pricing > .table > tfoot > tr > td:nth-child(4) > div:nth-child(1) {
    background-color: #00D7FF;
    border-left: 0px solid #95989A;
    border-right: 1px solid #95989A;
    border-top: 0px solid #95989A;
    border-bottom: 1px solid #95989A;
}

.pricing > .table div {
    padding: 8px;
}


/***********PRICING-RIBBON***********/

.ribbon.mobile {
    align-content: center;
    vertical-align: middle;
    background: url('../images/bestvalue.svg');
    background-position: center center;
    background-size: 150%;
    height: 150px;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    top: -75px;
    left: 100px;
    width: 130px;
    margin-bottom: -160px;
}
.ribbon.mobile > div {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 56px;
}

.ribbon.mobile > div {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .ribbon {
        top: 60px;
        align-content: center;
        position: relative;
        left: -45px;
        background: url('../images/ribbon.png');
        background-position: center center;
        background-size: 120%;
        width: 150%;
        height: 65px;
        background-repeat: no-repeat;
        color: white;
    }
}

@media (min-width: 992px) {
    .ribbon {
        top: 60px;
        align-content: center;
        position: relative;
        left: -60px;
        background: url('../images/ribbon.png');
        background-position: center center;
        background-size: 120%;
        width: 150%;
        height: 80px;
        background-repeat: no-repeat;
        color: white;
    }

        .ribbon > div {
            margin-top: 5px;
        }
}

@media (min-width: 1200px) {
    .ribbon {
        top: 63px;
        align-content: center;
        position: relative;
        left: -105px;
        background: url('../images/ribbon.png');
        background-position: center center;
        background-size: 100%;
        width: 170%;
        height: 90px;
        background-repeat: no-repeat;
        color: white;
    }

        .ribbon > div {
            margin-top: 10px;
        }
}

.table > tbody > tr > td {
    padding: 15px;
}

.contact, .about {
    font-size: 2.2rem;
    color: #00D7FF;
}

.contact img {
    width: 75px;
}

.contact > div:nth-child(3) {
    color: white;
    background-color: #00D7FF;
}

    .contact > div:nth-child(3) > form > input, .contact > div:nth-child(3) > form > select, .contact > div:nth-child(3) > form > textarea {
        color: #95989A;
    }

    .contact > div:nth-child(3) > h2 {
        color: white;
        background-color: #00D7FF;
        margin-top: 10px;
    }

.contact form label, .contact form input, .contact form textarea, .contact form select {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 6px 7px;
    margin-bottom: 10px;
}

.contact form label {
    margin-bottom: 0;
}

    .contact form button {
        border: 1px solid white;
        background-color: transparent;
        border-radius: 6px 7px;
        margin-bottom: 10px;
        width: 150px;
        margin-top: 15px;
    }

.about img {
    width: 90%;
    margin-bottom: 15px;
}

.about > div:nth-child(3) {
    color: #95989A;
    font-size: 1.5rem;
}